*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(11, 244, 155);
    color: rgb(12, 12, 12);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title{
    text-align: center;
    margin: 30px;
}

#main_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.box{
    
    padding: 5px;
    border: 10px dashed rgb(180, 56, 56);
    width: 300px;
}

.box p span{
    color: rgb(229, 21, 21);
    text-transform: capitalize;
}

.box p {
    font-weight: 200;
}

#input-container{
    padding: 50px;
    text-align: center;
}